<div class="loginContent">

    <div class="loginForm">

	    <h4> You can enter your name and password or create a new account here </h4>

	    <div class="form">
	      <form name="addForm" method="get" > 
	        <input type="text" name="username" placeholder="Your name" autofocus> 
	        <input type="password" name="password" placeholder="Your password">
	        <div id="loginResult" class="error-message hidden"></div>
	        <input type="button" class="out-input-btn" id="loginButton" value="Log In">
	      </form>
	    </div>

  	</div>

</div>
