<div class="login_content">

	<header>
	<h1> To Do List </h1>
	</header>

    <div class="login_form">

	    <h4> You can enter your name and password or create a new account here </h4>

	    <div class="form">
	      <form name="addForm" method="get" > 
	        <input type="text" name="username" placeholder="Your name"> 
	        <input type="password" name="password" placeholder="Your password">
	        <input type="button" class="out-input-btn" id="loginButton" value="Log In">
	      </form>
	    </div>

	  	<div id="loginResult" class="hidden"></div>

  	</div>


	<footer>
	<p> UI Kit by <a href="http://www.unity.hr/ui-kit/">Unity UI Kit</a> </p>
	</footer>

	</div>
