<div class="profileContent">

 
  <div class="roll">
  </div>

  <div class="form">
      <form name="addListForm" method="get" > 
        <input type="text" name="listName" placeholder="Enter name of your To Do List" autofocus>
        <div id="errorMessage" class="error-message hidden"></div>
      </form>
      <button class="icon-plus in-input-btn" id="addListButton">
  </div>
  
  <div class="lists">
        
  </div>

  <div id="popup" class="hidden">

    <div class="overlay"></div>

    <div class="popup-content">
      <div class="popup-message"><h4>Are you sure you want to delete this?</h4></div>
      <div class="popup-buttons">
        <button class="out-input-btn" id="closePopupButton">No, please close this</button>
        <button class="out-input-btn" id="okPopupButton">Yep</button>
      </div>

    </div>

  </div>

</div>


