<div class="todoContent">
 
  <div class="form">
    <form name="addForm" method="get" > 
      <input type="text" name="doItem" placeholder="What you want to do?" autofocus>
      <div id="errorMessage" class="hidden"></div>
    </form>
    <button class="in-input-btn icon-plus" id="addButton">
  </div>
  <div class="list">
    <div><h2> Your awesome list </h2></div>
    <div class="item empty"></div>
    <div class="item empty"></div>
    <div class="item empty"></div>
    <div class="item empty"></div>
    <div class="item empty"></div>
  </div>

  <div>
    <input type="button" class="out-input-btn" id="addList" value="Add list"> 
  </div>

</div>

