@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-mtncur');
	src:url('../fonts/icomoon.eot?#iefix-mtncur') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-mtncur') format('woff'),
		url('../fonts/icomoon.ttf?-mtncur') format('truetype'),
		url('../fonts/icomoon.svg?-mtncur#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Roboto', sans-serif;
	vertical-align: middle;
}

body {
    background-color: #EED7B4; 
}

header {
	margin-top: 10px;
}

footer {
    left: 0; 
    bottom: 0;
    padding: 10px; 
    width: 100%; 
}

header, footer, h1, h4 {
	color: #41557d;
	margin-bottom: 10px;
	text-align: center;
}

h2 {
	color: #c1517d;
}

.container {
    width: 400px; 
    margin: 0 auto; 
    padding: 50px 10px; 
    text-align: center;
    position: relative;
}

.content {
	width: 400px;
	position: relative;
}

input::-webkit-input-placeholder {
	color: #e19bb6
}

input:-moz-placeholder {
	color: #e19bb6
}

input[type=text], input[type=password] {
	height: 14px;
	width: calc(100% - 40px);
	padding: 15px 20px;
	margin-bottom: 5px; 
	border: 1px #fff solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	color: #41557d;
}

.form {
	position: relative;
}

.in-input-btn {
	height: 46px;
	width: 47px;
	color: #41557d;
	background-color: #F7A18E;
	position: absolute;
	top: 0;
	right: -2px;
	border-radius: 0 4px 4px 0;
	margin-left: 1px;
}

.out-input-btn {
	height: 40px;
	width: 70px;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 16px;
	color: #41557d;
	background-color: #F7A18E;
	top: 0;
	right: 0;
	border-radius: 4px;
}

.edit {
	right: 46px;
	border-radius: 0;
}


.logout {
	width: 40px;
	position: absolute;
	top: 50px;
	right: 0;
}

.list {
	min-height: 180px;
	width: 100%;
	padding: 10px 0 30px 0;
	background-color: #f1f0ee;
	margin-top: 20px; 
	border-radius: 4px;
}

.list > div {
	height: 36px;
	width: calc(100% - 20px);
	border-bottom: 1px solid #d5d4d0;
	padding: 5px 10px;
}

.lists {
	width: 100%;
	background-color: #FFD4C4;
	margin-top: 20px; 
	border-radius: 4px;
}

.lists > div {
	height: 31px;
	width: calc(100% - 20px);
	border-bottom: 1px solid #d5d4d0;
	padding: 10px 0 5px 20px;
	text-align: left;
	font-size: 16px;
	color: #41557d;
	position: relative;
}

.item {
	color: #41557d;
	text-align: left;
	position: relative;
}

input[type="checkbox"]:before {
  	font-family: 'icomoon';
	content: "\f00c";
	font-size: 20px;
	color: #A19F4D;
	margin-right: 5px;
	opacity: 0.5;
}

input[type="checkbox"]:checked:before {
  	opacity: 1;
}

.item label,
input[type=checkbox],
input[type=button],
button {
	cursor: pointer;
}

button:hover {
 	 color: #F7A18E;
	background-color: #41557d;
}

.popup-content {
	width: 200px;
	height: 100px;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -70px 0 0 -170px;
	background-color: #fff;
	z-index: 3;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #6C7065;
	opacity: 0.8;
	z-index: 2;
}

.hidden {
	display: none;
}

input.error {
	border: 1px solid red;
}

.error-message {
	color: #41557d;
}



[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 24px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
	content: "\f00c";
}
.icon-times:before {
	content: "\f00d";
}
.icon-power-off:before {
	content: "\f011";
}
.icon-trash-o:before {
	content: "\f014";
}
.icon-flag:before {
	content: "\f024";
}
.icon-pencil:before {
	content: "\f040";
}
.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}

div.removed-item {
	-webkit-animation: removed-item-animation .8s cubic-bezier(.65,-0.02,.72,.29);
	-o-animation: removed-item-animation .8s cubic-bezier(.65,-0.02,.72,.29);
	animation: removed-item-animation .8s cubic-bezier(.65,-0.02,.72,.29)
}
 

@keyframes removed-item-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
  }

  30% {
    opacity: 1;
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
    transform: translateX(50px)
  }

  80% {
    opacity: 1;
    -webkit-transform: translateX(-800px);
    -ms-transform: translateX(-800px);
    -o-transform: translateX(-800px);
    transform: translateX(-800px)
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-800px);
    -ms-transform: translateX(-800px);
    -o-transform: translateX(-800px);
    transform: translateX(-800px)
  }
}

@-webkit-keyframes removed-item-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }

  30% {
    opacity: 1;
    -webkit-transform: translateX(50px);
    transform: translateX(50px)
  }

  80% {
    opacity: 1;
    -webkit-transform: translateX(-800px);
    transform: translateX(-800px)
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-800px);
    transform: translateX(-800px)
  }
}

@-o-keyframes removed-item-animation {
  0% {
    opacity: 1;
    -o-transform: translateX(0);
    transform: translateX(0)
  }

  30% {
    opacity: 1;
    -o-transform: translateX(50px);
    transform: translateX(50px)
  }

  80% {
    opacity: 1;
    -o-transform: translateX(-800px);
    transform: translateX(-800px)
  }

  100% {
    opacity: 0;
    -o-transform: translateX(-800px);
    transform: translateX(-800px)
  }
}